@model Tavarta.ViewModel.News.NewsViewModel

    <div class="col-md-12">
        <div class="ad-box-wrapper">
            <a href="@Url.Action("Details",new {Model.Id})">
                <div class="media">
                    <div class="media-body">
                        <h5 class="media-heading">
                            <i class="fa fa-angle-left"></i>
                           @Model.Title
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>