@model Tavarta.ViewModel.News.NewsListViewModel

 <!--Ads Box-->
                        <div class="row">
                            <div class="col-xxs-12 col-xs-12 col-sm-12">
                                <div class="widget widget-bordered widget-clear ads-boxes-wrapper">
                                    <div class="content">
                                        <div class="ads-boxes">
                                            <div class="ad-box-wrapper">
                                                <div class="ads-box text-center" data-adzone="leaderboard">
                                                </div>
                                                <i class="ads-box-close fa fa-times"></i>
                                            </div>
                                            @*<div class="ad-box-wrapper">
                                                    <div class="ads-box text-center">
                                                        <script type="text/javascript" src="http://ads.goldiran.ir/showad.aspx?s=58&u=635816268298929319"></script>
                                                    </div>
                                                    <i class="ads-box-close fa fa-times"></i>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Ads Box-->
                        <!--Last news-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="widget widget-bordered title-a hot-news">
                                    <h2>
                                        آخرین اخبار
                                    </h2>
                                    <div class="content">
                                        <div class="row">
                                            @{ Html.RenderPartial("_LastNewsAjax", Model);}
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/228256/%D9%87%D9%85%D8%B1%D8%A7%D9%87-%D8%A8%D8%A7-%D9%88%DB%8C%DA%98%D9%87-%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87-%D9%86%D9%88%D8%B1%D9%88%D8%B2%DB%8C-%D9%86%D9%88%D8%AF-%D8%B4%D8%A7%D8%AF%D8%AA%D8%B1%DB%8C%D9%86-%D9%86%D9%88%D8%AF-%D8%B3%D8%A7%D9%84-%D8%A8%D8%A7-%D8%A7%D8%B9%D9%84%D8%A7%D9%85-%D8%B1%D8%B6%D8%A7%DB%8C%D8%AA-%D8%B4%D9%85%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="همراه با ویژه برنامه نوروزی نود / شادترین نود سال با اعلام رضایت شما" width="120" height="80" data-original="http://static.90tv.ir/8b7b31c2909195f69542339facad6d94_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                همراه با ویژه برنامه نوروزی نود / شادترین نود سال با اعلام رضایت شما
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/228166/%D8%AE%D8%A7%D8%B7%D8%B1%D8%A7%D8%AA-%D8%AE%D9%88%D8%A8-%D9%84%DB%8C%D9%88%D8%B1%D9%BE%D9%88%D9%84-%D8%A7%D8%B2-%D8%AF%D9%88%D8%B1%D8%AA%D9%85%D9%88%D9%86%D8%AF-%D8%B9%D9%84%DB%8C%D8%B1%D8%BA%D9%85-%D8%AF%D8%BA%D8%AF%D8%BA%D9%87-%DA%A9%D9%84%D9%88%D9%BE/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="خاطرات خوب لیورپول از دورتموند علیرغم دغدغه کلوپ" width="120" height="80" data-original="http://static.90tv.ir/609afd854f5e689cd6e2262f5599fd1d_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                خاطرات خوب لیورپول از دورتموند علیرغم دغدغه کلوپ
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/228151/%D9%86%DA%A9%D8%A7%D8%AA-%D8%AE%D9%88%D8%A7%D9%86%D8%AF%D9%86%DB%8C-%D8%A7%D8%B2-%D9%82%D8%B1%D8%B9%D9%87-%DA%A9%D8%B4%DB%8C-%DB%8C%DA%A9-%DA%86%D9%87%D8%A7%D8%B1%D9%85-%D9%86%D9%87%D8%A7%DB%8C%DB%8C-%D9%84%DB%8C%DA%AF-%D9%82%D9%87%D8%B1%D9%85%D8%A7%D9%86%D8%A7%D9%86-%D8%A7%D8%B1%D9%88%D9%BE%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا" width="120" height="80" data-original="http://static.90tv.ir/a084aab44888ed2f171fe3f5139f87f8_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/228151/%D9%86%DA%A9%D8%A7%D8%AA-%D8%AE%D9%88%D8%A7%D9%86%D8%AF%D9%86%DB%8C-%D8%A7%D8%B2-%D9%82%D8%B1%D8%B9%D9%87-%DA%A9%D8%B4%DB%8C-%DB%8C%DA%A9-%DA%86%D9%87%D8%A7%D8%B1%D9%85-%D9%86%D9%87%D8%A7%DB%8C%DB%8C-%D9%84%DB%8C%DA%AF-%D9%82%D9%87%D8%B1%D9%85%D8%A7%D9%86%D8%A7%D9%86-%D8%A7%D8%B1%D9%88%D9%BE%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا" width="120" height="80" data-original="http://static.90tv.ir/a084aab44888ed2f171fe3f5139f87f8_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/228151/%D9%86%DA%A9%D8%A7%D8%AA-%D8%AE%D9%88%D8%A7%D9%86%D8%AF%D9%86%DB%8C-%D8%A7%D8%B2-%D9%82%D8%B1%D8%B9%D9%87-%DA%A9%D8%B4%DB%8C-%DB%8C%DA%A9-%DA%86%D9%87%D8%A7%D8%B1%D9%85-%D9%86%D9%87%D8%A7%DB%8C%DB%8C-%D9%84%DB%8C%DA%AF-%D9%82%D9%87%D8%B1%D9%85%D8%A7%D9%86%D8%A7%D9%86-%D8%A7%D8%B1%D9%88%D9%BE%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا" width="120" height="80" data-original="http://static.90tv.ir/a084aab44888ed2f171fe3f5139f87f8_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                نکات خواندنی از قرعه کشی یک چهارم نهایی لیگ قهرمانان اروپا
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227840/%D8%A8%DB%8C%D8%B1%D8%A7%D9%86%D9%88%D9%86%D8%AF-%D9%BE%D9%88%D8%B1%D9%82%D8%A7%D8%B2-%DA%A9%D9%86%D8%B9%D8%A7%D9%86%DB%8C%D8%B2%D8%A7%D8%AF%DA%AF%D8%A7%D9%86-%D9%85%D8%A7%D9%87%DB%8C%D9%86%DB%8C-%D8%AA%D8%A8%D8%B1%DB%8C%D8%B2%DB%8C-%D9%88-%DA%A9%D8%A7%D9%88%D9%87-%D8%B1%D8%B6%D8%A7%DB%8C%DB%8C-%D8%AF%D8%B1-%D9%84%DB%8C%D8%B3%D8%AA-%D8%A8%D8%B1%D8%A7%D9%86%DA%A9%D9%88/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="بیرانوند، پورقاز، کنعانی‌زادگان، ماهینی، تبریزی و کاوه رضایی در لیست برانکو" width="120" height="80" data-original="http://static.90tv.ir/f2fd36ab5455320b7f08f8937557f546_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                بیرانوند، پورقاز، کنعانی‌زادگان، ماهینی، تبریزی و کاوه رضایی در لیست برانکو
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227815/%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%D8%BA%D9%88%D9%84%D9%90-%D8%A2%D8%B3%DB%8C%D8%A7-%D8%B2%D9%84%D8%A7%D8%AA%D8%A7%D9%86-%D9%88-%D8%A2%D8%AF%D8%B1%DB%8C%D8%A7%D9%86%D9%88-%D9%88-%D8%A8%DA%86%D9%87%D9%87%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="معرفی غولِ آسیا: زلاتان و آدریانو و بچه‌ها!" width="120" height="80" data-original="http://static.90tv.ir/22da43d2cbf79b7bc9e8f10daf0518d9_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                معرفی غولِ آسیا: زلاتان و آدریانو و بچه‌ها!
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227812/%D8%B3%D9%87%D9%85%DB%8C%D9%87-%D8%A7%D9%86%DA%AF%D9%84%DB%8C%D8%B3-%D8%AF%D8%B1-%D9%84%DB%8C%DA%AF-%D9%82%D9%87%D8%B1%D9%85%D8%A7%D9%86%D8%A7%D9%86-4-%D8%A8%D8%A7%D9%82%DB%8C-%D9%85%D8%A7%D9%86%D8%AF-%D8%B4%DA%A9%D8%B3%D8%AA-%DB%8C%D9%88%D9%88%D9%87-%D8%AA%D9%84%D8%AE-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%A7%DB%8C%D8%AA%D8%A7%D9%84%DB%8C%D8%A7%DB%8C%DB%8C-%D9%87%D8%A7/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="سهمیه انگلیس در لیگ قهرمانان 4 باقی ماند/ شکست یووه تلخ برای ایتالیایی ها" width="120" height="80" data-original="http://static.90tv.ir/0d47ff571805066b6fad50f1c2ff0b6e_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                سهمیه انگلیس در لیگ قهرمانان 4 باقی ماند/ شکست یووه تلخ برای ایتالیایی ها
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227791/%D8%A7%DB%8C%D9%86%D9%81%D9%88%DA%AF%D8%B1%D8%A7%D9%81%DB%8C-%D8%B3%D9%87%D9%85-%DA%98%D8%A7%D9%BE%D9%86%DB%8C%D9%87%D8%A7-%D8%A7%D8%B2-%D8%AA%D8%A7%D8%B1%DB%8C%D8%AE-%D9%84%DB%8C%DA%AF-%D8%A8%D8%B1%D8%AA%D8%B1-%D8%A7%D9%86%DA%AF%D9%84%DB%8C%D8%B3%D8%9B-19-%DA%AF%D9%84-%D9%88-15-%D9%BE%D8%A7%D8%B3-%DA%AF%D9%84/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="اینفوگرافی/ سهم ژاپنی‌ها از تاریخ لیگ برتر انگلیس؛ 19 گل و 15 پاس گل" width="120" height="80" data-original="http://static.90tv.ir/3fcc478034bc22f4d806954105cef1ec_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                اینفوگرافی/ سهم ژاپنی‌ها از تاریخ لیگ برتر انگلیس؛ 19 گل و 15 پاس گل
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/223246/%D8%B4%D9%85%D8%A7-%D8%A7%D9%86%D8%AA%D8%AE%D8%A7%D8%A8-%DA%A9%D9%86%DB%8C%D8%AF-%D8%B1%D9%82%D8%A7%D8%A8%D8%AA-%D9%86%D8%B2%D8%AF%DB%8C%DA%A9-%D8%B9%D8%A7%D8%AF%D9%84-%D9%88-%D8%AA%DB%8C%D9%85-%D9%86%D9%88%D8%AF-%D8%A8%D8%A7-%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87-%D8%B3%D8%A7%D8%B2%D8%A7%D9%86-%D8%AF%DB%8C%DA%AF%D8%B1-%D8%AF%D8%B1-%D8%B1%D8%A7%DB%8C-%DA%AF%DB%8C%D8%B1%DB%8C-%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86-%D9%87%D8%A7%DB%8C-%D8%B3%D8%A7%D9%84/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="شما انتخاب کنید/ رقابت نزدیک عادل و تیم نود با برنامه سازان دیگر در رای گیری بهترین های سال" width="120" height="80" data-original="http://static.90tv.ir/705cdff28a78f1e1be5fccd0f54ee0fb_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                شما انتخاب کنید/ رقابت نزدیک عادل و تیم نود با برنامه سازان دیگر در رای گیری بهترین های سال
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227716/%D9%86%DA%A9%D9%88%D9%86%D8%A7%D9%85-%D9%87%D8%B1-%DA%A9%D8%B3-%D8%A8%D9%87-%D8%AE%D8%A7%D8%B7%D8%B1-%D9%85%D8%AE%D8%A7%D9%84%D9%81-%D8%A8%D8%A7-%DA%A9%DB%8C-%D8%B1%D9%88%D8%B4-%DA%86%D9%88%D8%A8-%D9%84%D8%A7%DB%8C-%DA%86%D8%B1%D8%AE-%D8%AA%DB%8C%D9%85-%D9%85%D9%84%DB%8C-%D8%A8%DA%AF%D8%B0%D8%A7%D8%B1%D8%AF-%D8%AE%DB%8C%D8%A7%D9%86%D8%AA-%D9%85%DB%8C-%DA%A9%D9%86%D8%AF/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="نکونام: هر کس به خاطر مخالفت با کی روش چوب لای چرخ تیم ملی بگذارد، خیانت می کند! " width="120" height="80" data-original="http://static.90tv.ir/c1c0e3410e776068ebcc16fa82bd8c17_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                نکونام: هر کس به خاطر مخالفت با کی روش چوب لای چرخ تیم ملی بگذارد، خیانت می کند!
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                                <a href="/news/227704/%D8%B9%DA%A9%D8%B3-%D9%81%D8%B1%D9%87%D8%A7%D8%AF-%D9%85%D8%AC%DB%8C%D8%AF%DB%8C-%D8%AA%D9%85%D8%A7%D8%B4%D8%A7%DA%AF%D8%B1-%D8%A8%D8%A7%D8%B2%DB%8C-%D8%A8%D8%A7%D8%B1%D8%B3%D8%A7-%D9%88-%D8%A2%D8%B1%D8%B3%D9%86%D8%A7%D9%84/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="عکس/ فرهاد مجیدی تماشاگر بازی بارسا و آرسنال" width="120" height="80" data-original="http://static.90tv.ir/f1145128c21d3a802361005a93e55f62_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                عکس/ فرهاد مجیدی تماشاگر بازی بارسا و آرسنال
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!--/Last news-->