
        <main class="col-xs-12 col-md-8">
           
            <div id="news-page-list" class="widget widget-bordered title-a widget-page">
                <header>
                    <h2>
                        اخبار
                    </h2>
                </header>
                <div class="row-inject-here">
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255526/ادعای-دراگان-اسکوچیچ-در-کرواسی-سرمربی-استقلال-شدم">
                                        ادعای دراگان اسکوچیچ در کرواسی / سرمربی استقلال شدم!
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            11:13
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۶۵</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="ادعای-دراگان-اسکوچیچ-در-کرواسی-سرمربی-استقلال-شدم" width="150" height="105" data-original="http://static.90tv.ir/7ba741da93998fd613df4d0499e2d33c_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                اسکوچیچ ادعا کرده که سرمربی استقلال شده است.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255525/سردار-کمالی-بازیکنی-که-برگه-کسری-خدمتش-ایراد-داشت-باید-3-ماه-دیگر-سرباز-باشد">
                                        سردار کمالی: بازیکنی که برگه کسری خدمتش ایراد داشت باید ۳ ماه دیگر سرباز باشد
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            11:10
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۳۳۶</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="سردار-کمالی-بازیکنی-که-برگه-کسری-خدمتش-ایراد-داشت-باید-3-ماه-دیگر-سرباز-باشد" width="150" height="105" data-original="http://static.90tv.ir/8fcb2e640fc1935fda2eb73d800923cf_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                معاون اداره منابع انسانی ستاد کل نیروهای مسلح گفت: یکی از بازیکنان لیگ برتری به علت ایراداتی که در برگه کسری او وجود داشت باید 3 ماه دیگر به دوران مقدس سربازی‌اش ادامه دهد.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255522/خرمشهر-آماده-برگزاری-فینال-جامحذفی-است">
                                        خرمشهر آماده برگزاری فینال جام‌حذفی است
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            11:06
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۴۹</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="خرمشهر-آماده-برگزاری-فینال-جامحذفی-است" width="150" height="105" data-original="http://static.90tv.ir/c472d11168ba30388c70fe866e0585f7_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                رییس هیت فوتبال استان خوزستان گفت: تمام شرایط لازم برای برگزاری دیدار فینال جام‌حذفی بین تیم‌های استقلال تهران و ذوب آهن در خرمشهر فراهم است.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255520/شایعه-خطرناک-در-لیگ-برتر-ملوان-امتیاز-نفت-تهران-را-میخرد؛-بدون-هیچ-مشکلی">
                                        شایعه خطرناک در لیگ برتر/ ملوان امتیاز نفت تهران را می‌خرد؛ بدون هیچ مشکلی!
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            11:02
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۱۹۵</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="شایعه-خطرناک-در-لیگ-برتر-ملوان-امتیاز-نفت-تهران-را-میخرد؛-بدون-هیچ-مشکلی" width="150" height="105" data-original="http://static.90tv.ir/22f67daa131d5e631f616c184deb145b_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                سایت رسمی برنامه نود- قرار است روز یکشنبه از مالک جدید باشگاه نفت تهران رونمایی شود. مشتریان نفت روز شنبه پاکت‌های پیشنهادی خود را به کمیته واگذاری تحویل می‌دهند و یکی از مشتریان، باشگاه ملوان است که تازه به لیگ یک سقوط کرده.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255517/کیوسک-صفحه-نخست-روزنامه-ورزشی-درخواست-صادقیان-از-برانکو">
                                        کیوسک/ صفحه نخست روزنامه ورزشی: درخواست صادقیان از برانکو
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:59
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۱۷۹</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="کیوسک-صفحه-نخست-روزنامه-ورزشی-درخواست-صادقیان-از-برانکو" width="150" height="105" data-original="http://static.90tv.ir/1731faa6f3b906273b9957d5e34b9646_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                حضور افشین قطبی در تیم بوریرام تایلند و نعیم سعداوی در فولاد از جمله خبرهای صفحه یک ایران ورزشی است.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255516/کار-تراکتورسازی-با-6-سرباز-به-پایان-رسید">
                                        کار تراکتورسازی با 6 سرباز به پایان رسید
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:59
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۲۴۸</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="کار-تراکتورسازی-با-6-سرباز-به-پایان-رسید" width="150" height="105" data-original="http://static.90tv.ir/6027239d58d04ebf05b8812aed2481d0_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                تیم فوتبال تراکتورسازی به کار خود در مسابقات درحالی پایان داد که 6 بازیکن این تیم هم خدمت‌ سربازی آنها به پایان رسید.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255514/استقلال-خوزستان-در-راه-فولاد؛-اتفاق-تلخ-بار-دیگر-در-اهواز-تکرار-میشود؟">
                                        استقلال خوزستان در راه فولاد؛ اتفاق تلخ بار دیگر در اهواز تکرار می‌شود؟
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:55
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۸۳۶</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="استقلال-خوزستان-در-راه-فولاد؛-اتفاق-تلخ-بار-دیگر-در-اهواز-تکرار-میشود؟" width="150" height="105" data-original="http://static.90tv.ir/2e12eeace4a338e785c1ea3276945aff_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                سایت رسمی برنامه نود- عبدا... ویسی سرمربی سه فصل گذشته استقلال خوزستان پس از اینکه برای عقد قرارداد جدید با این باشگاه به توافق نرسید، به تیم سپاهان اصفهان پیوست و با صدور بیانیه‎ای از هواداران فوتبال خوزستان خداحافظی کرد.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255513/رجبزاده-به-بازی-با-العین-نمیرسد">
                                        رجب‌زاده به بازی با العین نمی‌رسد
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:55
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۱۸۶</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="رجبزاده-به-بازی-با-العین-نمیرسد" width="150" height="105" data-original="http://static.90tv.ir/579c388e64dea616b150d61f4c82d6cc_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                مدیرعامل باشگاه ذوب آهن از غیبت مهاجم این تیم در بازی برگشت مقابل العین امارات خبر داد.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255510/اژدریزاده-وضعیت-دستیاران-سعداوی-در-مذاکره-من-با-او-مشخص-میشود">
                                        اژدری‌زاده: وضعیت دستیاران سعداوی در مذاکره من با او مشخص می‌شود
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:52
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۲۶۳</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="اژدریزاده-وضعیت-دستیاران-سعداوی-در-مذاکره-من-با-او-مشخص-میشود" width="150" height="105" data-original="http://static.90tv.ir/aaf04b063354d5eb0c67ce553f37df7c_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                مدیرعامل باشگاه فولاد خوزستان گفت: اعضای هیئت مدیره در مورد انتخاب نعیم سعداوی به جمع‌بندی نهایی رسیدند و با اکثریت آرا او را به‌عنوان گزینه نهایی هدایت تیم انتخاب کردند.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                    <article class="content">
                        <header class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h3>
                                    <a href="/news/255508/خلعتبری-نویدکیا-اسطوره-سپاهان-است؛-دیگران-باید-بروند-نه-محرم">
                                        خلعتبری: نویدکیا اسطوره سپاهان است؛ دیگران باید بروند نه محرم
                                    </a>
                                </h3>
                            </div>
                            <div class="col-xxs-12 col-xs-3 text-left">
                                <div class="small">
                                    <span>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <span class="numbers">
                                            ۱۳۹۵/۰۳/۰۵
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i>
                                        <span class="numbers">
                                            10:48
                                        </span>
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="numbers">۸۱۷</span>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="list-content-body">
                            <figure>
                                <img alt="خلعتبری-نویدکیا-اسطوره-سپاهان-است؛-دیگران-باید-بروند-نه-محرم" width="150" height="105" data-original="http://static.90tv.ir/0ed122cbf25f4cc1a0ab9e17d76fbddc_150_105_cropCenter.jpg" class="lazy" src="" />
                            </figure>
                            <summary>
                                مهاجم فصل گذشته تیم فوتبال سپاهان اعتقاد دارد که عبدالله ویسی بهترین گزینه برای قبول هدایت این تیم بود.
                            </summary>
                            <div class="clearfix"></div>
                        </section>
                    </article>
                </div>
                <div class="col-sm-12">
                    <a href="#" data-last-id="255508" data-loading-text="در حال بارگزاری..." class="load-more btn btn-load-more btn-lg btn-block news-loader">نمایش بیشتر</a>
                </div>
            </div>
        </main>

